@font-face {
  font-family: PricedownBL;
  src: url(s.otf);
}

* {
  font-family: 'Kanit', sans-serif;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  height: 100%;
  justify-content:space-between;
}



.box {
  margin: auto;
  float: right;
  margin-top: 2.5%;
  /*border-bottom: 2px solid rgb(200,200,200)
  border-radius:10px;
  padding-left: 5%;
  padding-top:0.3%;
  padding-bottom:0.3%;
  padding-right:0.3%;
  background: rgba(64,64,64,0.3);*/
}

.box .newmoney #newcontent {
  margin-top: -10px;
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
}

.box .newmoney  {
  margin: 0px 3px;
}

.box .money #content {
  color: rgb(29, 78, 216);
  margin-top: -7px;
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
}

.box .money #nontent {
  color: rgb(29, 78, 216);
  margin-top: -7px;
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
}

.box .money  {
  margin: 0px 3px;
}

.box .money .iconmoney {
  margin-top: 50%;
  font-size: 20px;
  color: rgb(29, 78, 216);
}

.box .voice {
  margin: 0px 3px;
  color: rgb(200,200,200);
  font-size: 35px;
}

.box .funk {
  margin: 0px 3px;
  color: rgb(200,200,200);
  font-size: 35px;
}

.box #durst {
  margin: 0px 3px;
  color: #ff8000;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.box #hunger {
  margin: 0px 3px;
  color: #ff8000;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.box .aduty {
  margin: 0px 3px;
  color: rgb(29, 78, 216);
  font-size: 35px;
}

.box .voicedot {
  color: rgb(200,200,200);
  transform: rotate(180deg);
  font-size: 7px;
}

.box #aduty {
  float: right; 
  font-size: 35px; 
  color: red;
  font-family: 'Kanit', sans-serif;;
}